@-webkit-keyframes headerAnimation{
  from{
    top:-200px;
  }

  to{
    top:0;
    -webkit-animation-timing-function: ease-out;
  }
}

@-webkit-keyframes fadeIn{
  from{
    opacity: 0;
  }

  to{
    opacity: 1;
  }
}
